Asp.net MVC Project/MvcEshop/Service References/DocumentFinder/RequestIOService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://tik.irandoc.ac.ir/RequestIOService/RequestIOService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RequestIOService" />
  <xs:element name="PutMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RequestIOService" minOccurs="0" name="value" nillable="true" type="q1:RequestMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PutMessageResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResultsByRequestID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RequestID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResultsByRequestIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RequestIOService" minOccurs="0" name="GetResultsByRequestIDResult" nillable="true" type="q2:Results" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReportByResultID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResultID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReportByResultIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RequestIOService" minOccurs="0" name="GetReportByResultIDResult" nillable="true" type="q3:OriginalityReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinalReportByRequestID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RequestID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinalReportByRequestIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/RequestIOService" minOccurs="0" name="GetFinalReportByRequestIDResult" nillable="true" type="q4:OriginalityReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>