Asp.net MVC Project/MvcEshop/Service References/DocumentFinder/RequestIOService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RequestIOService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RequestIOService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RequestMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerMail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DatabaseCodes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileBody" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="TextBody" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestMessage" nillable="true" type="tns:RequestMessage" />
  <xs:complexType name="Results">
    <xs:sequence>
      <xs:element minOccurs="0" name="ResultCode" type="xs:int" />
      <xs:element minOccurs="0" name="ResultList" nillable="true" type="tns:ArrayOfResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Results" nillable="true" type="tns:Results" />
  <xs:complexType name="ArrayOfResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Result" nillable="true" type="tns:Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResult" nillable="true" type="tns:ArrayOfResult" />
  <xs:complexType name="Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemNumber" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="SubjectSimilarity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Result" nillable="true" type="tns:Result" />
  <xs:complexType name="OriginalityReport">
    <xs:sequence>
      <xs:element minOccurs="0" name="HtmlReport" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultCode" type="xs:int" />
      <xs:element minOccurs="0" name="SimilarityPercent" type="xs:int" />
      <xs:element minOccurs="0" name="SimilarityReference" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OriginalityReport" nillable="true" type="tns:OriginalityReport" />
</xs:schema>