Asp.net MVC Project/MvcEshop/Service References/DocumentFinder/RequestIOService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RequestIOService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://tik.irandoc.ac.ir/RequestIOService/RequestIOService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://tik.irandoc.ac.ir/RequestIOService/RequestIOService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://tik.irandoc.ac.ir/RequestIOService/RequestIOService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RequestIOService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRequestIOService_PutMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:PutMessage" />
  </wsdl:message>
  <wsdl:message name="IRequestIOService_PutMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:PutMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IRequestIOService_GetResultsByRequestID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetResultsByRequestID" />
  </wsdl:message>
  <wsdl:message name="IRequestIOService_GetResultsByRequestID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResultsByRequestIDResponse" />
  </wsdl:message>
  <wsdl:message name="IRequestIOService_GetReportByResultID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReportByResultID" />
  </wsdl:message>
  <wsdl:message name="IRequestIOService_GetReportByResultID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReportByResultIDResponse" />
  </wsdl:message>
  <wsdl:message name="IRequestIOService_GetFinalReportByRequestID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFinalReportByRequestID" />
  </wsdl:message>
  <wsdl:message name="IRequestIOService_GetFinalReportByRequestID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFinalReportByRequestIDResponse" />
  </wsdl:message>
  <wsdl:portType name="IRequestIOService">
    <wsdl:operation name="PutMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IRequestIOService/PutMessage" message="tns:IRequestIOService_PutMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRequestIOService/PutMessageResponse" message="tns:IRequestIOService_PutMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetResultsByRequestID">
      <wsdl:input wsaw:Action="http://tempuri.org/IRequestIOService/GetResultsByRequestID" message="tns:IRequestIOService_GetResultsByRequestID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRequestIOService/GetResultsByRequestIDResponse" message="tns:IRequestIOService_GetResultsByRequestID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReportByResultID">
      <wsdl:input wsaw:Action="http://tempuri.org/IRequestIOService/GetReportByResultID" message="tns:IRequestIOService_GetReportByResultID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRequestIOService/GetReportByResultIDResponse" message="tns:IRequestIOService_GetReportByResultID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFinalReportByRequestID">
      <wsdl:input wsaw:Action="http://tempuri.org/IRequestIOService/GetFinalReportByRequestID" message="tns:IRequestIOService_GetFinalReportByRequestID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRequestIOService/GetFinalReportByRequestIDResponse" message="tns:IRequestIOService_GetFinalReportByRequestID_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRequestIOService" type="tns:IRequestIOService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PutMessage">
      <soap:operation soapAction="http://tempuri.org/IRequestIOService/PutMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResultsByRequestID">
      <soap:operation soapAction="http://tempuri.org/IRequestIOService/GetResultsByRequestID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportByResultID">
      <soap:operation soapAction="http://tempuri.org/IRequestIOService/GetReportByResultID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFinalReportByRequestID">
      <soap:operation soapAction="http://tempuri.org/IRequestIOService/GetFinalReportByRequestID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RequestIOService">
    <wsdl:port name="BasicHttpBinding_IRequestIOService" binding="tns:BasicHttpBinding_IRequestIOService">
      <soap:address location="http://tik.irandoc.ac.ir/RequestIOService/RequestIOService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>