JUST_CMS/MY_WEB_APPLICATION/Web References/ir.dorsanet.sms/send.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="Send" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="Send" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">WebService For Send And Recive Sms </wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="Send">
      <s:element name="SendSms">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="from" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="to" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="text" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="flash" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="status" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="recId" type="tns:ArrayOfLong" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfLong">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="long" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:element name="SendSmsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendSmsResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="status" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="recId" type="tns:ArrayOfLong" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Credit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreditResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreditResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Delivery">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="recId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeliveryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeliveryResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendSmsSoapIn">
    <wsdl:part name="parameters" element="tns:SendSms" />
  </wsdl:message>
  <wsdl:message name="SendSmsSoapOut">
    <wsdl:part name="parameters" element="tns:SendSmsResponse" />
  </wsdl:message>
  <wsdl:message name="CreditSoapIn">
    <wsdl:part name="parameters" element="tns:Credit" />
  </wsdl:message>
  <wsdl:message name="CreditSoapOut">
    <wsdl:part name="parameters" element="tns:CreditResponse" />
  </wsdl:message>
  <wsdl:message name="DeliverySoapIn">
    <wsdl:part name="parameters" element="tns:Delivery" />
  </wsdl:message>
  <wsdl:message name="DeliverySoapOut">
    <wsdl:part name="parameters" element="tns:DeliveryResponse" />
  </wsdl:message>
  <wsdl:portType name="SendSoap">
    <wsdl:operation name="SendSms">
      <wsdl:input message="tns:SendSmsSoapIn" />
      <wsdl:output message="tns:SendSmsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Credit">
      <wsdl:input message="tns:CreditSoapIn" />
      <wsdl:output message="tns:CreditSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Delivery">
      <wsdl:input message="tns:DeliverySoapIn" />
      <wsdl:output message="tns:DeliverySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SendSoap" type="tns:SendSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendSms">
      <soap:operation soapAction="Send/SendSms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Credit">
      <soap:operation soapAction="Send/Credit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delivery">
      <soap:operation soapAction="Send/Delivery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SendSoap12" type="tns:SendSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendSms">
      <soap12:operation soapAction="Send/SendSms" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Credit">
      <soap12:operation soapAction="Send/Credit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delivery">
      <soap12:operation soapAction="Send/Delivery" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Send">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">WebService For Send And Recive Sms </wsdl:documentation>
    <wsdl:port name="SendSoap" binding="tns:SendSoap">
      <soap:address location="http://sms.dorsanet.ir/api/send.asmx" />
    </wsdl:port>
    <wsdl:port name="SendSoap12" binding="tns:SendSoap12">
      <soap12:address location="http://sms.dorsanet.ir/api/send.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>